<div class="panel panel-default toner-finder col-md-3">
	
	<div class="panel-body">
		
		<h4 class="text-center"><strong>INK & TONER FINDER</strong></4>
		<h4 class="text-center">FIND INK, TONER & PRINTER SUPPLIES FAST & EASY</h4>
		<br/>
		<select id="finder-make" class="form-control">
			<option>1 | Select Your Printer Brand</option>
			<% Category.find_by(:slug => "inks-toners").children.where(:active => true, :show_in_menu => true).order(:name).each do |make| %>
				<option value="<%= make.id %>"><%= make.name %></option>
			<% end %>
		</select>

		<script>
			$("select#finder-make").change(function(event){
				var make = $("select#finder-make").val();

				var request = $.ajax({
					url : '/categories/'+ make,
					// data: {token: '<%# spree_current_user.spree_api_key %>'},
					dataType : "json"
				});

				request.success(function(data) {
					success_action(data)
				});

				request.error(function(httpObj, textStatus) {       
					if(httpObj.status == 200)
					success_action(data)
					else
					alert("Failed")
				});

				function success_action(data_object) {
					console.log(data_object)
					var text = "<option>2 | Select Your Printer Family</option>"
					for (var i=0; i < data_object.length; i++) {
						text += "<option value=" + data_object[i].id + ">" + data_object[i].name + "</option>"
					};
					$("select#finder-family").empty().append(text);
					$("select#finder-family").removeAttr("disabled");
				}

			});
		</script>
		<br/>

		<select id="finder-family" class="form-control" disabled>
			<option>2 | Select Your Printer Family</option>
		</select>

		<script>
			$("select#finder-family").change(function(event){
				var make = $("select#finder-family").val();

				var request = $.ajax({
					url : '/categories/'+ make,
					// data: {token: '<%# spree_current_user.spree_api_key %>'},
					dataType : "json"
				});

				request.success(function(data) {
					success_action(data)
				});

				request.error(function(httpObj, textStatus) {       
					if(httpObj.status == 200)
					success_action(data)
					else
					alert("Failed")
				});

				function success_action(data_object) {
					console.log(data_object)
					var text = "<option>3 | Select Your Printer Model</option>"
					for (var i=0; i < data_object.length; i++) {
						text += "<option value=" + data_object[i].id + " slug=" + data_object[i].slug + ">" + data_object[i].name + "</option>"
					};
					$("select#finder-model").empty().append(text);
					$("select#finder-model").removeAttr("disabled");
				}

			});
		</script>

		<br/>

		<select id="finder-model" class="form-control" disabled>
			<option>3 | Select Your Printer Model</option>
		</select>

		<script>
			$("select#finder-model").change(function(event){
				var make = $("select#finder-model").find(":selected").attr("slug");

				// function success_action(data_object) {
					window.location.href = "/" + make;
				// }

			});
		</script>
		
	</div>
	
</div>

<div class="everyday-essentials col-md-9">
	
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>
		
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			
			<div class="item active">
				<%= image_tag "banner_123_toner.png" %>
			</div>
			
			<div class="item">
				<%= image_tag "banner_free_shipping.png" %>
			</div>
			
			<div class="item">
				<%= image_tag "banner_one_stop_shop.png" %>
			</div>
			
		</div>
		
	</div>
	
</div>

<div class="clearfix"></div>
	<!-- INFO BAR -->
	<section class="info-bar info-bar-clean">
		<div class="container">

			<div class="row">

				<div class="col-sm-3">
					<i class="glyphicon glyphicon-globe"></i>
					<h3>FREE SHIPPING &amp; RETURN</h3>
				</div>

				<div class="col-sm-3">
					<i class="glyphicon glyphicon-usd"></i>
					<h3>MONEY BACK GUARANTEE</h3>
				</div>

				<div class="col-sm-3">
					<i class="glyphicon glyphicon-flag"></i>
					<h3>ONLINE SUPPORT 24/7</h3>
				</div>

				<div class="col-sm-3">
					<i class="glyphicon glyphicon-heart"></i>
					<h3><span class="countTo">9845</span> HAPPY CUSTOMERS</h3>
				</div>

			</div>

		</div>
	</section>
	<!-- /INFO BAR -->



	<!-- FEATURED -->
	<section>
		<div class="container">

			<h2 class="owl-featured noborder"><strong>FEATURED</strong> PRODUCTS</h2>
			<div class="owl-carousel featured nomargin owl-padding-10" data-plugin-options='{"singleItem": false, "items": "4", "stopOnHover":false, "autoPlay":4000, "autoHeight": false, "navigation": true, "pagination": false}'>

				<!-- item -->
				<div class="shop-item nomargin">

					<div class="thumbnail">
						<!-- product image(s) -->
						<a class="shop-item-image" href="shop-single-left.html">
							<%= image_tag("demo/shop/products/300x450/p13.jpg", alt: "shop first image", class: "img-responsive") %>
							<%= image_tag("demo/shop/products/300x450/p14.jpg", alt: "shop first image", class: "img-responsive") %>
						</a>
						<!-- /product image(s) -->

					</div>
					
					<div class="shop-item-summary text-center">
						<h2>Cotton 100% - Pink Shirt</h2>
						
						<!-- rating -->
						<div class="shop-item-rating-line">
							<div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
						</div>
						<!-- /rating -->

						<!-- price -->
						<div class="shop-item-price">
							<span class="line-through">$98.00</span>
							$78.00
						</div>
						<!-- /price -->
					</div>

						<!-- buttons -->
						<div class="shop-item-buttons text-center">
							<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
						</div>
						<!-- /buttons -->
				</div>
				<!-- /item -->

				<!-- item -->
				<div class="shop-item nomargin">

					<div class="thumbnail">
						<!-- product image(s) -->
						<a class="shop-item-image" href="shop-single-left.html">
							<!-- CAROUSEL -->
							<div class="owl-carousel owl-padding-0 nomargin" data-plugin-options='{"singleItem": true, "autoPlay": 3000, "navigation": false, "pagination": false, "transitionStyle":"fadeUp"}'>
								<%= image_tag("demo/shop/products/300x450/p5.jpg", alt: "shop first image", class: "img-responsive") %>
								<%= image_tag("demo/shop/products/300x450/p1.jpg", alt: "shop first image", class: "img-responsive") %>
							</div>
							<!-- /CAROUSEL -->
						</a>
						<!-- /product image(s) -->
					</div>
					
					<div class="shop-item-summary text-center">
						<h2>Pink Dress 100% Cotton</h2>
						
						<!-- rating -->
						<div class="shop-item-rating-line">
							<div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
						</div>
						<!-- /rating -->

						<!-- price -->
						<div class="shop-item-price">
							$44.00
						</div>
						<!-- /price -->
					</div>

						<!-- buttons -->
						<div class="shop-item-buttons text-center">
							<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
						</div>
						<!-- /buttons -->
				</div>
				<!-- /item -->

				<!-- item -->
				<div class="shop-item nomargin">

					<div class="thumbnail">
						<!-- product image(s) -->
						<a class="shop-item-image" href="shop-single-left.html">
							<img class="img-responsive" src="assets/images/demo/shop/products/300x450/p2.jpg" alt="shop first image" />
							<img class="img-responsive" src="assets/images/demo/shop/products/300x450/p12.jpg" alt="shop hover image" />
						</a>
						<!-- /product image(s) -->

					</div>
					
					<div class="shop-item-summary text-center">
						<h2>Black Fashion Hat</h2>
						
						<!-- rating -->
						<div class="shop-item-rating-line">
							<div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
						</div>
						<!-- /rating -->

						<!-- price -->
						<div class="shop-item-price">
							<span class="line-through">$77.00</span>
							$65.00
						</div>
						<!-- /price -->
					</div>

						<!-- buttons -->
						<div class="shop-item-buttons text-center">
							<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
						</div>
						<!-- /buttons -->
				</div>
				<!-- /item -->

				<!-- item -->
				<div class="shop-item nomargin">

					<div class="thumbnail">
						<!-- product image(s) -->
						<a class="shop-item-image" href="shop-single-left.html">
							<img class="img-responsive" src="assets/images/demo/shop/products/300x450/p8.jpg" alt="shop first image" />
						</a>
						<!-- /product image(s) -->
					</div>
					
					<div class="shop-item-summary text-center">
						<h2>Beach Black Lady Suit</h2>
						
						<!-- rating -->
						<div class="shop-item-rating-line">
							<div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
						</div>
						<!-- /rating -->

						<!-- price -->
						<div class="shop-item-price">
							$56.00
						</div>
						<!-- /price -->
					</div>

						<!-- buttons -->
						<div class="shop-item-buttons text-center">
							<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
						</div>
						<!-- /buttons -->
				</div>
				<!-- /item -->

				<!-- item -->
				<div class="shop-item nomargin">

					<div class="thumbnail">
						<!-- product image(s) -->
						<a class="shop-item-image" href="shop-single-left.html">
							<img class="img-responsive" src="assets/images/demo/shop/products/300x450/p7.jpg" alt="shop first image" />
						</a>
						<!-- /product image(s) -->
					</div>
					
					<div class="shop-item-summary text-center">
						<h2>Town Dress - Black</h2>
						
						<!-- rating -->
						<div class="shop-item-rating-line">
							<div class="rating rating-4 size-13"><!-- rating-0 ... rating-5 --></div>
						</div>
						<!-- /rating -->

						<!-- price -->
						<div class="shop-item-price">
							$154.00
						</div>
						<!-- /price -->
					</div>

						<!-- buttons -->
						<div class="shop-item-buttons text-center">
							<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
						</div>
						<!-- /buttons -->
				</div>
				<!-- /item -->

				<!-- item -->
				<div class="shop-item nomargin">

					<div class="thumbnail">
						<!-- product image(s) -->
						<a class="shop-item-image" href="shop-single-left.html">
							<img class="img-responsive" src="assets/images/demo/shop/products/300x450/p6.jpg" alt="shop first image" />
							<img class="img-responsive" src="assets/images/demo/shop/products/300x450/p14.jpg" alt="shop hover image" />
						</a>
						<!-- /product image(s) -->
					</div>
					
					<div class="shop-item-summary text-center">
						<h2>Chick Lady Fashion</h2>
						
						<!-- rating -->
						<div class="shop-item-rating-line">
							<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
						</div>
						<!-- /rating -->

						<!-- price -->
						<div class="shop-item-price">
							$167.00
						</div>
						<!-- /price -->
					</div>

						<!-- buttons -->
						<div class="shop-item-buttons text-center">
							<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
						</div>
						<!-- /buttons -->
				</div>
				<!-- /item -->

				<!-- item -->
				<div class="shop-item nomargin">

					<div class="thumbnail">
						<!-- product image(s) -->
						<a class="shop-item-image" href="shop-single-left.html">
							<img class="img-responsive" src="assets/images/demo/shop/products/300x450/p11.jpg" alt="shop hover image" />
							<img class="img-responsive" src="assets/images/demo/shop/products/300x450/p3.jpg" alt="shop first image" />
						</a>
						<!-- /product image(s) -->
					</div>
					
					<div class="shop-item-summary text-center">
						<h2>Black Long Lady Shirt</h2>
						
						<!-- rating -->
						<div class="shop-item-rating-line">
							<div class="rating rating-0 size-13"><!-- rating-0 ... rating-5 --></div>
						</div>
						<!-- /rating -->

						<!-- price -->
						<div class="shop-item-price">
							$128.00
						</div>
						<!-- /price -->
					</div>

						<!-- buttons -->
						<div class="shop-item-buttons text-center">
							<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus"></i> Add to Cart</a>
						</div>
						<!-- /buttons -->
				</div>
				<!-- /item -->

			</div>

		</div>
	</section>
	<!-- /FEATURED -->



	<!-- NEW PRODUCTS -->
	<section>
		<div class="container">

			<div class="heading-title heading-dotted">
				<h2 class="size-20">NEW PRODUCTS</h2>
			</div>

			<ul class="shop-item-list row list-inline nomargin">

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
							    <%= image_tag("demo/shop/home/products/noimg.jpg", alt: "", class: "img-responsive") %>
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Blue Dress</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								<span class="line-through">$98.00</span>
								$78.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
								<img class="img-responsive" src="assets/images/demo/shop/home/products/6.jpg" alt="" />
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Mobile Phone</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								$53.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
								<img class="img-responsive" src="assets/images/demo/shop/home/products/7.jpg" alt="" />
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Black Shirt</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								$68.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
								<img class="img-responsive" src="assets/images/demo/shop/home/products/8.jpg" alt="" />
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Backpack</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								$19.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
								<img class="img-responsive" src="assets/images/demo/shop/home/products/9.jpg" alt="" />
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Blue Shoes</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								$81.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
								<img class="img-responsive" src="assets/images/demo/shop/home/products/10.jpg" alt="" />
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Water Watch</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								$38.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
								<img class="img-responsive" src="assets/images/demo/shop/home/products/11.jpg" alt="" />
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Bag</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								$22.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
								<img class="img-responsive" src="assets/images/demo/shop/home/products/1.jpg" alt="" />
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Woman Bag</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								$15.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
								<img class="img-responsive" src="assets/images/demo/shop/home/products/2.jpg" alt="" />
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Woman Hat</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								$61.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
								<img class="img-responsive" src="assets/images/demo/shop/home/products/3.jpg" alt="" />
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Cotton Cap</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								$56.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
								<img class="img-responsive" src="assets/images/demo/shop/home/products/4.jpg" alt="" />
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Sun Glasses</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								$98.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

				<!-- ITEM -->
				<li class="col-lg-2 col-sm-4">

					<div class="shop-item">

						<div class="thumbnail noborder nopadding">
							<!-- product image(s) -->
							<a class="shop-item-image" href="shop-single-left.html">
								<img class="img-responsive" src="assets/images/demo/shop/home/products/0.jpg" alt="" />
							</a>
							<!-- /product image(s) -->

							<!-- hover buttons -->
							<div class="shop-option-over">
								<a class="btn btn-default" href="shop-cart.html"><i class="fa fa-cart-plus size-18"></i></a>
							</div>
							<!-- /hover buttons -->

						</div>
						
						<div class="shop-item-summary text-center">
							<h2 class="size-14">Bag</h2>
							
							<!-- rating -->
							<div class="shop-item-rating-line">
								<div class="rating rating-4 size-11"><!-- rating-0 ... rating-5 --></div>
							</div>
							<!-- /rating -->

							<!-- price -->
							<div class="shop-item-price">
								$34.00
							</div>
							<!-- /price -->
						</div>

					</div>

				</li>
				<!-- /ITEM -->

			</ul>

		</div>
	</section>
	<!-- NEW PRODUCTS -->



	<!-- BRANDS -->
	<section class="padding-xxs">
		<div class="container">

			<!-- 
				controlls-over		= navigation buttons over the image 
				buttons-autohide 	= navigation buttons visible on mouse hover only
				
				data-plugin-options:
					"singleItem": true
					"autoPlay": true (or ms. eg: 4000)
					"navigation": true
					"pagination": true
			-->
			<div class="text-center">
				<div class="owl-carousel nomargin" data-plugin-options='{"singleItem": false, "autoPlay": 3000}'>
					<div>
						<img class="img-responsive" src="assets/images/demo/brands/1.jpg" alt="">
					</div>
					<div>
						<img class="img-responsive" src="assets/images/demo/brands/2.jpg" alt="">
					</div>
					<div>
						<img class="img-responsive" src="assets/images/demo/brands/3.jpg" alt="">
					</div>
					<div>
						<img class="img-responsive" src="assets/images/demo/brands/4.jpg" alt="">
					</div>
					<div>
						<img class="img-responsive" src="assets/images/demo/brands/5.jpg" alt="">
					</div>
					<div>
						<img class="img-responsive" src="assets/images/demo/brands/6.jpg" alt="">
					</div>
					<div>
						<img class="img-responsive" src="assets/images/demo/brands/7.jpg" alt="">
					</div>
					<div>
						<img class="img-responsive" src="assets/images/demo/brands/8.jpg" alt="">
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- BRANDS -->
	<div id="shopLoadModal" class="modal fade" data-autoload="true" data-autoload-delay="2000">
		<div class="modal-dialog modal-full">
			<div class="modal-content" style="background-image:url('assets/images/misc/shop/shop_modal.jpg');">

				<!-- header modal -->
				<div class="modal-header noborder">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				</div>

				<!-- body modal -->
				<div class="modal-body">

					<div class="block-content">

						<img src="assets/images/logo-footer-dark.png" alt="" />
						<p class="size-13 margin-bottom-20 margin-top-30">Subscribe to the Smarty newsletter to get all new products and all new discounts.</p>

						<!-- newsletter -->
						<div class="inline-search clearfix margin-bottom-20">
							<form action="php/newsletter.php" method="post" class="validate nomargin" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right" novalidate="novalidate">

								<input type="search" placeholder="Email Address" id="shop_email" name="shop_email" class="serch-input required">
								<button type="submit">
									<i class="fa fa-check"></i>
								</button>
							</form>
						</div>
						<!-- /newsletter -->

						<!-- Don't show this popup again -->
						<div class="size-11 text-left">
							<label class="checkbox pull-left">
								<input class="loadModalHide" type="checkbox" />
								<i></i> <span class="weight-300">Don't show this popup again</span>
							</label>

						</div>
						<!-- /Don't show this popup again -->

					</div>

				</div>

			</div>
		</div>
	</div>